page-home {
.header{
    text-align: center;
}

.ionListHeader{
    text-align:center;
    color:#1034A6;
    
}

#list{
    color:#1034A6;
    font-weight:bold;
}

.mainTitle{
    color:#1034A6;
    font-weight:bold;
    text-align:center;
}

.links{
    text-align:center;
    color:#1034A6;
}

}
